<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/admin-interface.css}">
    <!-- JavaScript -->
    <script type="text/javascript" th:src="@{/js/question-bank-functionality.js}" defer="true"></script>
    <title>Admin</title>
</head>

<body>
<!-- Blurred/Dimmed background toggle -->
<div id="popup-overlay"></div>

<!-- Navbar -->
<div class="navbar">
    <h1 id="welcome-heading">Welcome, <span sec:authentication="name"></span>!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Log Out">
    </form>
</div>

<!-- Container -->
<div class="content-container">
    <!-- Question bank heading -->
    <h1 id="question-bank-heading">Question Bank</h1>
    <!-- Question bank description -->
    <p id="question-bank-description">Select, add, update and delete a table of your choice.</p>

    <!-- Edit popup -->
    <div class="popup" id="popup-edit">
        <h2 class="popup-heading">Edit</h2>
        <button id="edit-close-button">&times</button>
        <!-- Edit question -->
        <form id="edit-form">
            <!-- Choice Num -->
            <label for="edit-num-of-choices-input"><span>Current number of choices: </span></label>
            <select id="edit-num-of-choices-input">
                <option id="edit-choices-2" value="2">2</option>
                <option id="edit-choices-4" value="4">4</option>
            </select>
            <!-- Question -->
            <p id="current-question"></p>
            <label for="edit-question-input">New question: </label>
            <textarea name="question" id="edit-question-input"></textarea>
            <!-- Choice A -->
            <p id="current-choice-a"></p>
            <label for="edit-choice-a-input">New choice A: </label>
            <textarea name="choiceA" id="edit-choice-a-input"></textarea>
            <!-- Choice B -->
            <p id="current-choice-b"></p>
            <label for="edit-choice-b-input">New choice B: </label>
            <textarea name="choiceB" id="edit-choice-b-input"></textarea>
            <!-- Choice C -->
            <p id="current-choice-c"></p>
            <label for="edit-choice-c-input" id="edit-choice-c-label">New choice C: </label>
            <textarea name="choiceC" id="edit-choice-c-input"></textarea>
            <!-- Choice D -->
            <p id="current-choice-d"></p>
            <label for="edit-choice-d-input" id="edit-choice-d-label">New choice D: </label>
            <textarea name="choiceD" id="edit-choice-d-input"></textarea>
            <!-- Correct choice -->
            <p id="current-correct-choice"></p>
            <label for="edit-correct-choice-input">New correct choice: (copy & paste correct answer for now)</label>
            <textarea name="correct" id="edit-correct-choice-input"></textarea>
            <!-- Hint -->
            <p id="current-hint"></p>
            <label for="edit-hint-input">New hint: </label>
            <textarea  name="hint" id="edit-hint-input"></textarea><br>
            <!-- Submit -->
            <input id="edit-button" type="submit" value="Save">
        </form>
    </div>

    <!-- Add popup -->
    <div class="popup" id="popup-add">
        <h2 class="popup-heading">Add a question</h2>
        <button id="add-close-button">&times</button>
        <!-- Add question -->
        <form id="add-form">
            <!-- Type -->
            <label for="add-type-input">Disaster: </label>
            <select name="type" id="add-type-input">
                <option id="drought-choice" value="drought">Drought</option>
                <option id="storms-choice" value="storms">Storms</option>
                <option id="epidemics-choices" value="epidemics">Epidemics</option>
                <option id="heatwave-choice" value="heatwave">Heatwave</option>
                <option id="soil-erosion-choice" value="soilErosion">Soil erosion</option>
            </select>
            <!-- Choice Num -->
            <label for="add-num-of-choices-input">Number of choices: </label>
            <select name="choiceNum" id="add-num-of-choices-input">
                <option id="2-choices" value="2">2</option>
                <option id="4-choices" value="4">4</option>
            </select>
            <!-- Question -->
            <label for="add-question-input">Question: </label>
            <textarea name="question" id="add-question-input"></textarea>
            <!-- Choice A -->
            <label for="add-choice-a-input">Choice A: </label>
            <textarea name="choiceA" id="add-choice-a-input"></textarea>
            <!-- Choice B -->
            <label for="add-choice-b-input">Choice B: </label>
            <textarea name="choiceB" id="add-choice-b-input"></textarea>
            <!-- Choice C -->
            <label for="add-choice-c-input" id="choice-c-label">Choice C: </label>
            <textarea name="choiceC" id="add-choice-c-input"></textarea>
            <!-- Choice D -->
            <label for="add-choice-d-input" id="choice-d-label">Choice D: </label>
            <textarea name="choiceD" id="add-choice-d-input"></textarea>
            <!-- Correct choice -->
            <label for="add-correct-choice-input">Correct choice: (copy & paste correct answer for now)</label>
            <textarea name="correct" id="add-correct-choice-input"></textarea>
            <!-- Hint -->
            <label for="add-hint-input">Hint: </label>
            <textarea  name="hint" id="add-hint-input"></textarea><br>
            <!-- Submit -->
            <input id="add-button" type="submit" value="Add">
        </form>
    </div>

    <!-- Delete popup -->
    <div class="popup" id="popup-delete">
        <div id="popup-content">
            <h2 class="popup-heading" id="popup-delete-heading">Are you sure you want to delete this question?</h2>
            <div id="popup-row">
                <button id="yes-delete">Yes</button>
                <button id="no-delete">No</button>
            </div>
        </div>
    </div>

    <!-- Options HUD -->
    <div id="options-hud">
        <!-- Table selector -->
        <label>Select a table:
            <select id="table-selector">
                <option id="drought-option" value="drought">Drought</option>
                <option id="storms-option" value="storms">Storms</option>
                <option id="epidemics-option" value="epidemics">Epidemics</option>
                <option id="heatwave-option" value="heatwave">Heatwave</option>
                <option id="soil-erosion-option" value="soilErosion">Soil erosion</option>
            </select>
        </label>
        <div id="question-manipulate-box">
            <!-- change question order-->
            <button id="question-order-button">change question order</button>
            <!-- Add a question -->
            <button id="add-question-button">Add a question</button>
        </div>
    </div>

    <!-- Tables -->
    <div class="quiz-data-tables"></div>
</div>
</body>
</html>