<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/question-order.css}">
    <script type="text/javascript" th:src="@{/js/question-order.js}" defer="true"></script>
    <title>Document</title>
</head>
<body>
    <div class="background-filter"></div>
    <!-- Navbar -->
    <div class="navbar">
        <h1 id="welcome-heading">Welcome, <span sec:authentication="name"></span>!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Log Out">
        </form>
    </div>
    <a class="menu-items" th:href="@{/admin}">Back</a>
    <div class="Box" id="drag-box"></div>
    <div class="submit-box">
        <button id="submit">submit</button>
    </div>
    <div class="popup-box">
        <h2>Are you sure you want to keep this order?</h2>
        <div class="popup-button">
            <button class="confirm">Yes</button>
            <button class="cancel">No</button>
        </div>
    </div>
</body>
</html>