<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/start-menu.css}">
    <title>Start Menu</title>
</head>
<body>
    <div class="menu-container">
        <a id="menu-item" th:href="@{/login}">Log In</a>
        <a th:href="@{/register}">Create Account</a>
    </div>
    <div class="content-container">
        <h1>DisasterDash</h1>
        <p id="description">A climate change/resilience game.</p>
        <img th:src="@{/images/start-menu-image.png}" th:alt="start-menu-image">
        <a id="next-link" th:href="@{/option}">Next</a>
    </div>
</body>
</html>